<form class="d-flex align-items-center flex-column" action="{{ url_for('core.index') }}" method="post" enctype="multipart/form-data">
    <label class="m-4 input-wrapper-file">
        <input class="input-file" type="file" name="file"/>
    </label>
    <div class="d-flex flex-row w-50">
        <button id="button-reset" class="btn btn-outline-danger mx-2 flex-grow-1" type="button">Reset</button>
        <button id="button-submit" class="btn btn-outline-success mx-2 flex-grow-1" type="submit" disabled>Solve</button>
    </div>
</form>